.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.env

.vscode/
.DS_Store

*.db
*.sqlite3

.pytest_cache/
.coverage
htmlcov/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

*.sqlite

*.log

node_modules/
package-lock.json
package.json

npm-debug.log*
yarn-debug.log*
yarn-error.log*
